body {
    background-image: url(https://i.makeagif.com/media/6-07-2016/i4R0PZ.gif);
    font-family: "Comic Sans", Georgia, Serif;
}

.extreme {
  text-align: center;
}

.navzone {
  color: #BA6E6E;
  cursor: wait;
  text-align: center;
  background-image: url(https://media.tenor.co/images/6d0cd88338f8c7a484703631c307ce86/raw); 
}

.content {
  color: white;
  text-align: center;
  cursor: crosshair;
}

.prose {
  background-color: #F5DDDD; 
  color: #A63A50;
}

#head1 {
  text-align: center;
  color:white;
}

#tehlulz {
    color: #A63A50;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 3px solid #73AD21;
}


ul {
   color: #F0E7D8;
   display: table;
   margin:0 auto;
   cursor: crosshair;
}

li {
  color: red;
  background-color: white;
}

li a:hover {
    color: red;
    font-size: 2em;
}
