body {
    background-color: #A1674A;
    font-family: "Comic Sans", Georgia, Serif;
}

.extreme {
  text-align: center;
}

.navzone {
  color: #BA6E6E;
  cursor: wait;
  text-align: center;
  background-color: #F5DDDD; 
}

.content {
  color: white;
  text-align: center;
}

.prose {
  background-color: #F5DDDD; 
  color: #A63A50;
}

#head1 {
  text-align: center;
  color:white;
}

#tehlulz {
    color: #A63A50;
    text-align: center;
}


ul {
   color: #F0E7D8;
   display: table;
   margin:0 auto;
   cursor: crosshair;
}

li {
  color: red;
}

li a:hover {
    color: red;
    font-size: 2em;
}

  

